<h1>Enhance profile with more information:</h1>


<%= form_for @profile, url: user_profile_path(@user, @profile) do |f| %>
  <%= f.label :blog_url %>
  <%= f.text_field :blog_url %>

  <%= f.label :facebook %>
  <%= f.text_field :facebook %>

  <%= f.label :twitter %>
  <%= f.text_field :twitter %>

  <%= f.label :github %>
  <%= f.text_field :github %>

  <%= f.label :linked_in %>
  <%= f.text_field :linked_in %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit "Create profile", class: "button alert small" %>
<% end -%>
