<h1><%= @user.first_name %>'s Profile</h1>

<h2>Status: <%= @user.current_status %> </h2>
<h2>Current Project: <%= @user.current_project %> </h2>

<%= form_for [@user, @status] do |f| %>
  <%= f.label :description %>
  <%= f.select :description, ["Open To Help", "In The Zone", "Ready To Pair"] %>

  <%= f.submit "Update status" %>
<% end -%>

 
<%= form_for [@user, @project] do |f| %>
  <%= f.label :project %>
  <%= f.text_field :project %>

  <%= f.submit "Update project" %>
<% end -%>

<% if @user == current_user %>
  <% if @profile %>
    <%= link_to "Update profile", edit_user_profile_path(@user) %>
  <% else %>
    <%= link_to "Enhance profile", new_user_profile_path(@user) %>
  <% end -%>
<% end -%>


<% if @profile %>
  <%= @profile.email %>
  <%= @profile.phone_number %>
  <%= link_to 'Facebook', @profile.facebook %>
  <%= link_to 'Twitter', @profile.twitter %>
  <%= link_to 'Github', @profile.github %>
  <%= link_to 'Linked In', @profile.linked_in %>
<% end -%>
