<%= page_title("#{@user.first_name}'s Profile") %>
<h1><%= @user.first_name %>'s Profile</h1>

<div class="row">

  <div class="large-4 columns">
     <% if @user == current_user %>
      <% if @profile %>
        <%= link_to "Update Personal Info", edit_user_profile_path(@user), class: "button info" %>
      <% else %>
        <%= link_to "Add Personal Info", new_user_profile_path(@user), class: "button info" %>
      <% end -%>
    <% end -%>
  </div>

  <div class="large-8 columns">
    <h4>Status: <%= @user.current_status %> </h4>
    <h4>Project: <%= @user.current_project %> </h4>
    <h3>Percent Paired With: <%= @user.percent_paired_with %> %</h3>
    <div class="progress small success">
      <span class="meter" style="width: <%= @user.percent_paired_with %>%"></span>
    </div>

    <%= form_for [@user, @status] do |f| %>
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <%= f.select :description, ["Open To Help", "In The Zone", "Ready To Pair"] %>
            </div>

            <div class="small-2 columns">
              <%= f.submit "Update status", class: "button postfix info" %>
            </div>
          </div>
        </div>
      </div>
    <% end -%>

    <%= form_for [@user, @project] do |f| %>
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <%= f.text_field :project %>
            </div>

            <div class="small-2 columns">
              <%= f.submit "Update project", class: "button postfix info" %>
            </div>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <% if @profile %>
      <%= @profile.email %>
      <%= @profile.phone_number %>
      <%= link_to 'Facebook', @profile.facebook %>
      <%= link_to 'Twitter', @profile.twitter %>
      <%= link_to 'Github', @profile.github %>
      <%= link_to 'Linked In', @profile.linked_in %>
    <% end -%>
  </div>
</div>
