<%= page_title("#{@user.first_name}'s Profile") %>
<h1><%= @user.first_name %>'s Profile</h1>

<div class="row">

  <div class="large-4 columns">
    <h4>Status: <%= @user.current_status %> </h4>
    <h4>Project: <%= @user.current_project %> </h4>
     <% if @user == current_user %>
      <% if @profile %>
        <%= link_to "Update profile", edit_user_profile_path(@user), class: "button info" %>
      <% else %>
        <%= link_to "Enhance profile", new_user_profile_path(@user), class: "button info" %>
      <% end -%>
    <% end -%>
  </div>

  <div class="large-8 columns">
    <%= form_for [@user, @status] do |f| %>
      <%= f.label :description %>
      <%= f.select :description, ["Open To Help", "In The Zone", "Ready To Pair"] %>

      <%= f.submit "Update status" %>
    <% end -%>


    <%= form_for [@user, @project] do |f| %>
      <%= f.label :project %>
      <%= f.text_field :project %>

      <%= f.submit "Update project" %>
    <% end -%>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <% if @profile %>
      <%= @profile.email %>
      <%= @profile.phone_number %>
      <%= link_to 'Facebook', @profile.facebook %>
      <%= link_to 'Twitter', @profile.twitter %>
      <%= link_to 'Github', @profile.github %>
      <%= link_to 'Linked In', @profile.linked_in %>
    <% end -%>
  </div>
</div>
