<%= page_title("Dashboard - #{current_user.first_name}") %>
<h1 class="page-title">Dashboard</h1>

<div class="row">
  <div class="large-6 columns">
    <h2>Newsfeed</h2>
    <div class="panel newsfeed">
      <% @feed.each do |event| %>
        <% if event.is_a?(Status) %>
          <p><%= event.user.first_name %> just updated status to: <%= event.description %> </p>
        <% else %>
          <p><%= event.user.first_name %> just updated project to: <%= event.project %> </p>
        <% end -%>
      <% end -%>
    </div>
  </div>

  <div class="large-6 columns">
      <h2>Quick Question</h2>
    <div class="panel quick-question">
      <p>Ask a quick question to your peers for clarification.  Sometimes you just need a quick sanity check ;)</p>
      <%= text_area_tag  "Question", nil, size: "30x7" %>
      <%= submit_tag "Ask Your Question", class: "button alert" %>

    </div>
  </div>
</div>


<div class="panel callout pair-navigation">
  <%= link_to "I'm Feeling Lucky", dashboard_path(query: "lucky"), class: "button alert" %>
  <%= link_to "Ready To Pair", dashboard_path(query: "pair"), class: "button success" %>
  <%= link_to "Open To Help", dashboard_path(query: "help"), class: "button info" %>
  <%= link_to "Everyone", dashboard_path, class: "button secondary" %>
</div>

<table>
  <tr>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Status</th>
    <th>Project</th>
    <th>Worked Together?</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td> <%= user.email %></td>
    <td> <%= user.first_name %></td>
    <td> <%= user.last_name %></td>
    <td> <%= user.current_status %></td>
    <td> <%= user.current_project %></td>
    <% if current_user == user %>
      <td> Complete </td>
    <% elsif !current_user.paired_with?(user) %>
      <td> <%= link_to 'Paired?', pairings_path(pair_id: user.id), id: user.id, method: :post %></td>
    <% else %>
      <td> Complete </td> 
    <% end -%>
  </tr>
<% end -%>
</table>
