<%= page_title("Dashboard - #{current_user.first_name}") %>
<h1 class="page-title">Dashboard</h1>

<div class="row">
  <div class="large-6 columns">
    <%= render 'dashboards/newsfeed' %>
  </div>

  <div class="large-6 columns">
    <%= render 'dashboards/question' %>
  </div>
</div>


<div class="panel pair-navigation">
  <%= link_to "I'm Feeling Lucky", dashboard_path(query: "lucky"), class: "button alert" %>
  <%= link_to "Ready To Pair", dashboard_path,
    class: "button success", id: "ready-to-pair" %>
  <%= link_to "Open To Help", dashboard_path(query: "help"), class: "button info" %>
  <%= link_to "Everyone", dashboard_path, class: "button secondary" %>
</div>

<table id="users">
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Status</th>
      <th>Project</th>
      <th>Worked Together?</th>
    </tr>
  <thead>

  <tbody id="users-body">
<% @users.each do |user| %>
  <tr>
    <td> <%= user.email %></td>
    <td> <%= user.first_name %></td>
    <td> <%= user.last_name %></td>
    <td> <%= user.current_status %></td>
    <td> <%= user.current_project %></td>
    <% if current_user == user %>
      <td> Complete </td>
    <% elsif !current_user.paired_with?(user) %>
      <td>
        <%= link_to 'Paired?',
          pairings_path(pair_id: user.id),
          data: {user_id: user.id},
          id: user.id,
          class: 'pairing-link' %>
        <i class="fa fa-spinner fa-spin" style="display:none"></i>
      </td>

    <% else %>
      <td> Complete </td>
    <% end -%>
  </tr>
<% end -%>
  </tbody>
</table>

<%= content_for :extra_footer do %>
  <script type="text/javascript">
    $(function(){
      var pairingLink = new PairingLink($('.pairing-link'));
      var pairFilter = new ReadyToPair($('#ready-to-pair'));
    });
  </script>
<%- end -%>
