<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %>
    <title><%= yield :title %></title>
  <% else %>
    <title>Launch Pairs</title>
  <% end -%>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/nav' %>

  <div class="row page-wrapper">
    <%= render 'layouts/flashes' %>
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>
  <%= yield :extra_footer %>
</body>
</html>
